.partners-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    text-align: center;
    width: 100%;
    background: #f8f8f8;
    font-family: Arial, sans-serif;
}

.partners-container h1 {
    padding: 20px;
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.partners-container p {
    font-size: clamp(18px, 40%, 25px);
    color: #555;
    text-align: center;
    margin: 10px;
    font-family: Arial, sans-serif;
}

#company_text {
    font-size: clamp(20px, 40%, 25px);
    color: #555;
    text-align: center;
    margin: 10px;
    font-family: Arial, sans-serif;
}

.partners-item img {
    margin: 5px;
    width: 250px;
    max-width: 250px;
    height: 200px;
    max-height: 250px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
}

.partners-item img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.partners-list {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0 15px;
    white-space: nowrap;
    box-sizing: border-box;
}

.partners-item {
    flex: 0 0 auto;
    max-width: 250px;
    margin: 30px;
    scroll-snap-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* для устройств с большим экраном */
@media (min-width: 768px) {
    .partners-list {
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: center;
    }

    .partners-item {
        margin: 10px;
    }
}